.blocks-container {
  background-color: #eeeff3;
  padding: 20px;
  text-align: left;
}

.block-num{
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.block-label{
  font-weight: bold;
}

.block-details{
  font-size: .8em;
}

.block-detail-item{
  margin-right: 20px;
}

.block-container {
  background-color: white;
  box-shadow: 1px 1px rgba(203, 203, 203, 0.53);
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 20px;
}